extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit Fakultas
			small Universitas Gadjah Mada
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Fakultas 
			li.active Edit
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Fakultas
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/fakultas/edit/#{(id==undefined) ? data.id : id}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| Nama Fakultas
									input(type='text',value="#{data.nama_fakultas}",name='nama_fakultas',placeholder='Masukkan Nama Fakultas', autofocus).form-control
								.form-group
									label
										| Letak Fakultas
									input(type='text',value="#{ (letak_fakultas == undefined) ? data.letak_fakultas : letak_fakultas }",name='letak_fakultas',placeholder='Masukkan Letak Fakultas').form-control
								.form-group
									label
										| No Fakultas
									input(type='text',value="#{ (no_fakultas == undefined) ? data.no_fakultas : no_fakultas }",name='no_fakultas',placeholder='Masukkan No Fakultas').form-control
								.form-group
									label
										| Email Fakultas
									input(type='text',value="#{ (email_fakultas == undefined) ? data.email_fakultas : email_fakultas }",name='email_fakultas',placeholder='Masukkan Email Fakultas').form-control
							.box-footer
								input(type="hidden",name="_method", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/fakultas').btn.btn-primary.pull-right
									| Back